# created by virtualenv automatically
/venv
/Submission A/model_A1.h5
/Submission A/model_A2.h5
/Submission A/model_A3.h5
/Submission A/model_A4.h5
/Submission A/model_A5.h5
Submission A.zip
/Submission B/model_B1.h5
/Submission B/model_B2.h5
/Submission B/model_B3.h5
/Submission B/model_B4.h5
/Submission B/model_B5.h5
Submission B.zip
/Submission C/model_C1.h5
/Submission C/model_C2.h5
/Submission C/model_C3.h5
/Submission C/model_C4.h5
/Submission C/model_C5.h5
Submission C.zip
/.idea